body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 50px;
  color: #00ffcc;
}

p {
  font-size: 18px;
}
